@charset "UTF-8";
/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  20-02-2023
 *  */
/* Utils (variables, mixin, fonction, %placeholder pour extend) */
/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  20-02-2023
 *  */
/*import "sass/Utils/_fonctions.sass"*/
/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  20-02-2023
 *  */
/*import "sass/Utils/_placeholders.sass"*/
/* Thèmes */
/* Vendors (bootsrtap, jquery, ...) */
/* Base (police, norme, box-sizing, ...) */
/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  20-02-2023
 *  */
html, body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  background: url("../img/spaceship.jpg");
  background-size: cover;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, label, p, a {
  font-family: Bookman Old Style;
  text-shadow: 0.5rem, 0.5rem, rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 10px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4, input, label {
  font-size: 1.2rem;
}

h5, p, a {
  font-size: 1rem;
}

h6 {
  font-size: 0.7rem;
}

@media screen and (orientation: portrait) {
  p {
    font-size: 2rem;
  }
}

/* Layout (header, footer, main, ...) */
/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  20-02-2023
 *  */
nav {
  width: 99.4%;
  max-height: 75px;
  margin: 5px 5px;
  background: linear-gradient(0deg, rgba(19, 79, 83, 0.8) 0%, rgba(6, 29, 31, 0.8) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 48px;
}

footer {
  width: 99.4%;
  max-height: 75px;
  margin: 5px 5px;
  background: linear-gradient(0deg, rgba(19, 79, 83, 0.8) 0%, rgba(6, 29, 31, 0.8) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 48px;
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  footer {
    display: none;
  }
}

main {
  display: flex;
  width: 100%;
  height: 93.5%;
  padding-top: 0px;
  margin-bottom: 10px;
  justify-content: center;
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  main {
    margin-top: 7%;
    flex-direction: row;
    width: 100%;
    height: 86%;
  }
}
@media screen and (orientation: portrait) {
  main {
    flex-direction: column;
    height: 96%;
  }
}

.title {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  width: 40wv;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icn {
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
}
.icn:hover {
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.infobulle {
  position: relative;
  cursor: help;
}
.infobulle:hover::after, .infobulle:focus::after {
  content: attr(aria-label);
  position: absolute;
  align-items: left;
  top: 1.5em;
  left: 100%;
  white-space: nowrap;
  z-index: 1;
  padding: 5px;
  background: linear-gradient(0deg, rgb(4, 30, 31) 0%, rgb(5, 46, 56) 100%);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.4);
  color: rgb(255, 255, 255);
}

.logo {
  width: 35px;
  height: 35px;
  background: linear-gradient(0deg, rgb(4, 30, 31) 0%, rgb(5, 46, 56) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.anim {
  transition: transform 0.4s ease;
  transform: scale(0.8);
}
.anim:hover {
  transform: scale(0.9) rotate(2deg);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin: 10px 10px;
  padding: 10px 10px;
  background: linear-gradient(0deg, #1e1f20 0%, #021518 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
}
button:hover {
  background: linear-gradient(0deg, rgb(27, 80, 82) 0%, rgb(8, 39, 41) 100%);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
button:disabled {
  color: rgb(255, 255, 255);
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin: 10px 10px;
  padding: 10px 10px;
  background: linear-gradient(0deg, #1e1f20 0%, #021518 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: black;
}
select:hover {
  background: linear-gradient(0deg, rgb(27, 80, 82) 0%, rgb(8, 39, 41) 100%);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

input {
  width: 100%;
  height: 30px;
  margin: 10px 10px;
  background: linear-gradient(0deg, #1e1f20 0%, #021518 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  font-family: Bookman Old Style;
  padding-left: 10px;
}
input:hover {
  background: linear-gradient(0deg, rgb(27, 80, 82) 0%, rgb(8, 39, 41) 100%);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

input[type=number] {
  width: 4rem;
  height: 2rem;
  color: rgb(255, 255, 255);
}

.number {
  width: 60px;
  color: rgb(255, 255, 255);
}

.checkbox {
  width: 11vw;
  height: 35px;
  background: linear-gradient(0deg, rgb(4, 30, 31) 0%, rgb(5, 46, 56) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  color: rgb(55, 73, 2);
}
.checkbox:hover {
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.checked {
  color: rgb(255, 255, 255);
}

/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  20-02-2023
 *  */
#narration {
  max-width: 80vw;
  margin: 20px;
  text-align: center;
}
#narration h4 {
  color: rgb(194, 197, 24);
}

.gamespace {
  margin: 5px 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
}

#gamespace {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(99, 185, 196);
  font-size: 3rem;
  width: 100%;
  touch-action: manipulation;
}
#gamespace #portrait-warning {
  display: none;
}
@media screen and (orientation: portrait) {
  #gamespace {
    width: 99%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #gamespace #portrait-warning {
    display: flex;
  }
  #gamespace #commencer {
    display: none;
  }
}

#portrait-warning {
  margin: 20px;
  text-align: center;
}

#galaxy01 {
  position: absolute;
  left: -20%;
  top: 10%;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.4745098039);
  width: 60%;
  height: 75%;
  opacity: 0.3;
  -webkit-animation: galaxy-rotate 200s linear infinite;
          animation: galaxy-rotate 200s linear infinite;
}

#grille {
  display: flex;
  align-items: top;
  justify-content: center;
  color: rgb(99, 185, 196);
  font-size: 0.7rem;
  position: relative;
  box-shadow: 0px 0px 5px 1px #76e6e6;
  border-radius: 0.5rem;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
  margin-left: 40px;
}

@media screen and (max-width: 1280px) {
  #instructionClavier {
    display: none;
  }
}
.refcase {
  position: absolute;
  left: auto;
  top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.case {
  position: absolute;
  left: auto;
  top: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  translate: 0 -7px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1rem;
  color: rgb(99, 185, 196);
  padding: 0px 5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.829) 50%, rgba(43, 42, 42, 0.308) 100%);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #76e6e6;
}

.B {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #76e6e6;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.829) 50%, rgba(43, 42, 42, 0.308) 100%);
  background-size: 100%;
  background-position: 50% 47%;
  opacity: 0.5;
  scale: 0.9;
}

@-webkit-keyframes galaxy-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes galaxy-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.P {
  box-shadow: 0px 0px 5px 1px #76e6e6;
  border-radius: 50%;
  scale: 0.9;
}
.P img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: galaxy-rotate 30s linear infinite;
          animation: galaxy-rotate 30s linear infinite;
}

.PE {
  box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.4745098039);
  border-radius: 50%;
}
.PE img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: galaxy-rotate 30s linear infinite;
          animation: galaxy-rotate 30s linear infinite;
}

@-webkit-keyframes planete-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes planete-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.E {
  z-index: 1;
  overflow: hidden;
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: 250ms;
  transform: translate(0, 0);
  scale: 0.7;
}
.E img {
  width: 110%;
  height: 110%;
  border-radius: 50%;
  -webkit-animation: planete-rotate 20s linear infinite;
          animation: planete-rotate 20s linear infinite;
}

.F {
  z-index: 2;
  background: url("../img/starship.png");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms;
  transform: rotate(0deg) translate(0, 0);
  scale: 1;
}

/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  20-02-2023
 *  */
#board {
  margin: 5px 5px;
  touch-action: manipulation;
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  #board {
    width: 40vw;
  }
}
@media screen and (orientation: portrait) {
  #board {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  #infoBoard {
    max-width: 90%;
    min-height: 61%;
  }
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  #infoBoard {
    min-height: 31%;
  }
}
@media screen and (orientation: portrait) {
  #infoBoard {
    width: 45%;
    min-height: 90%;
  }
}

#cmdBox {
  touch-action: manipulation;
  margin-top: 30px;
  position: relative;
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  #cmdBox {
    max-width: 90%;
    transform: scale(1.2);
  }
}
@media screen and (orientation: portrait) {
  #cmdBox {
    width: 25%;
    transform: scale(2);
    margin-right: 20px;
  }
}

#nbLife {
  position: absolute;
  top: 92px;
  left: 103px;
}
@media screen and (max-width: 1280px) {
  #nbLife {
    top: 97px;
    left: 120px;
  }
}
#scoreboard {
  width: 22vw;
  margin: 5px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.score-player {
  width: 21vw;
  height: 100%;
  margin: 2px 5px;
  background: linear-gradient(0deg, rgb(2, 13, 14) 0%, rgb(3, 31, 30) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  transform: scale(0.95);
}

.result {
  width: 100%;
}

@media screen and (max-width: 1280px) and (orientation: landscape) {
  #nbEssaiLevel {
    display: none;
  }
}

#resultLevel {
  width: 99%;
  height: 59vh;
  overflow: auto;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin: 10px;
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  #resultLevel {
    height: 4em;
  }
}

.cmd {
  transition: 100ms;
  width: 25%;
}
.cmd:hover {
  scale: 1.1;
}

#cmdRestart {
  display: flex;
  justify-content: center;
  align-item: center;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  margin: 5px;
  padding: 5px 10px;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  transition: 100ms;
}
#cmdRestart:hover {
  scale: 1.1;
}
@media screen and (max-width: 1280px) {
  #cmdRestart {
    scale: 1.2;
    margin-right: 20px;
  }
  #cmdRestart:hover {
    scale: 1.3;
  }
}

#cmdHaut, #cmdBas {
  rotate: 270deg;
  margin: 10px;
}

#cmdDemo {
  display: flex;
  justify-content: center;
  align-item: center;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  margin: 25px;
  padding: 5px 10px;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  transition: 100ms;
}
#cmdDemo:hover {
  scale: 1.1;
}
@media screen and (max-width: 1280px) {
  #cmdDemo {
    display: none;
  }
}

/* Pages (specifique à la page) */
/* Components (button, select, input, ... ) */
/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  20-02-2023
 *  */
#playSeq {
  width: 45px;
  height: 30px;
  transition: 300ms;
}
#playSeq:hover {
  scale: 1.15;
}/*# sourceMappingURL=style.css.map */