/*
    Tony Quedeville : tquedevi
    Zone01: Projet Univers 01
    20-02-2023
    */
        
#board
    //@include rightPanel
    margin: 5px 5px 
    //height: auto //92vh
    touch-action: manipulation

    +xl
        +paysage
            width: 40vw
            //height: auto //84vh

    +portrait
        display: none

#infoBoard
    +paysage
        max-width: 90%
        min-height: 61%

    +xl
        @include paysage
            min-height: 31%

    +portrait
        width: 45%
        min-height: 90%

#cmdBox
    touch-action: manipulation
    //display: none
    margin-top: 30px
    position: relative

    +xl
        +paysage
            max-width: 90%
            transform: scale(1.2)

    +portrait
        width: 25%
        transform: scale(2)
        margin-right: 20px

#nbLife
    position: absolute
    top: 92px
    left: 103px
    +xl
        +paysage
        top: 97px
        left: 120px

#scoreboard
    width: 22vw
    margin: 5px 5px
    display: flex
    align-items: center
    flex-direction: column

.score-player
    width: 21vw
    height: 100%
    margin: 2px 5px
    background: $fondScoreBoard
    box-shadow: $shadow
    border: $borderWhite
    border-radius: $radius
    display: flex
    flex-direction: row
    transform: scale(.95)

.result
    width: 100%

#nbEssaiLevel
    @include xl
        @include paysage
            display: none

#resultLevel
    max-width: 99%
    height: 59vh
    overflow: auto
    background: $fondContainerTrans
    box-shadow: $shadow
    border: $borderWhite
    border-radius: $radius
    margin: 10px

    @include xl
        @include paysage
            //display: none
            height: 4em

.cmd
    transition: 100ms
    width: 25%
    
    &:hover
        scale: (1.1)

#cmdRestart
    display: flex
    justify-content: center
    align-item: center 
    font-size: nth($fontSizes,4)
    color: $white
    margin: 5px
    padding: 5px 10px
    background: $fondContainerTrans
    box-shadow: $shadow
    border: $borderWhite
    border-radius: $radius
    transition: 100ms
    &:hover
        scale: (1.1)
    +xl
        scale: (1.2)
        margin-right: 20px
        &:hover
            scale: (1.3)

#cmdHaut, #cmdBas    
    rotate: 270deg
    margin: 10px

#cmdDemo
    display: flex
    justify-content: center
    align-item: center 
    font-size: nth($fontSizes,4)
    color: $white
    margin: 25px
    padding: 5px 10px
    background: $fondContainerTrans
    box-shadow: $shadow
    border: $borderWhite
    border-radius: $radius
    transition: 100ms
    &:hover
        scale: (1.1)
    +xl
        display: none
